<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>Wish</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ baseUrl() }}/static/vendor/semantic/semantic.min.css" rel="stylesheet" media="screen">
<link href="{{ baseUrl() }}/static/client/css/default.css" rel="stylesheet" media="screen">
<script src="{{ baseUrl() }}/static/vendor/jquery/jquery.min.js"></script>
<script src="{{ baseUrl() }}/static/vendor/semantic/semantic.min.js"></script>
<script src="{{ baseUrl() }}/static/client/js/default.js"></script>
</head>
<body>
<div class="container">
    {% block container %}
    {% endblock %}
</div>
</body>
</html>
