<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>Diapositive</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="csrf-token" content="{{ csrf_token }}" />
<link href="{{ baseUrl() }}/static/vendor/semantic/semantic.min.css" rel="stylesheet" media="screen">
<link href="{{ baseUrl() }}/static/client/css/default.css" rel="stylesheet" media="screen">
<script src="{{ baseUrl() }}/static/vendor/jquery/jquery.min.js"></script>
<script src="{{ baseUrl() }}/static/vendor/semantic/semantic.min.js"></script>
<script src="{{ baseUrl() }}/static/vendor/handlebars/handlebars.js"></script>
<script src="{{ baseUrl() }}/static/vendor/dmuploader/dmuploader.min.js"></script>
<script src="{{ baseUrl() }}/static/client/js/default.js"></script>
</head>
<body>
<div class="ui grid">
    <div class="ui fixed menu navbar page grid">
        <div class="title item">
            <b>Diapositive</b>
        </div>
        <a class="item" href="{{ urlFor('index.index') }}">
            <i class="home icon"></i> Home
        </a>
        <div class="right menu">
            <div class="item">
                {% if session.user %}
                    <a href="{{ urlFor('slideshow.create') }}" class="ui button blue">Create</a>
                    <a href="{{ urlFor('index.signout') }}" class="ui button">Sign out</a>
                {% else %}
                    <a href="{{ urlFor('index.signup') }}" class="ui button">Sign up</a>
                    <a href="{{ urlFor('index.signin') }}" class="ui button green">Sign in</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="ui page grid main">
    {% include 'shared/flash-message.html' %}

    <div class="row">
        <div class="column">
            {% block container %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
