<?php
return [
    'debug'    => true,
    'database' => [
        'default'     => 'sqlite',
        'connections' => [
            'sqlite' => [
                'driver'   => 'sqlite',
                'database' => STORAGE_ROOT.'/default.sqlite',
                'prefix'   => 'wish_',
            ],
            'mysql'  => [
                'driver'    => 'mysql',
                'host'      => 'localhost',
                'database'  => 'wish',
                'username'  => 'user',
                'password'  => 'pass',
                'charset'   => 'utf8',
                'collation' => 'utf8_unicode_ci',
                'prefix'    => 'wish_',
            ]
        ]
    ],
    'queue' => [
        'redis' => [
            'host'     => 'localhost',
            'port'     => 6379,
            'database' => 0
        ]
    ],
    'cookie' => [
        'life_time'  => '20 minutes',
        'path'       => '/',
        'domain'     => null,
        'secure'     => false,
        'httponly'   => false,
        'secret_key' => 'Your Key Here',
    ],
    'remember' => [
        'name'      => 'r',
        'life_time' => 315360000,
    ]
];
